.form{
    width: 100%;
    height: auto;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    margin-top: 5%;
}

.form-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--color--black);
}

.form-background::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color--gray);
    top: 0;
    left: 0;
    opacity: 0.7;
}

.form-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 5%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
}

.form-container img{
    width: 350px;
}

.contactForm{
    width: 60%;
    padding: 50px;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--color--white);
}

.contactForm h1{
    font-size: 35px;
    font-weight: 500;
}

.contactForm label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color--gray);
    width: 100%;
}

.contactForm label input{
    padding: 14px;
    border: 1px solid var(--color--gray);
}

.contactForm label input::placeholder{
    font-size: 14px;
    color: var(--color--gray);
    opacity: 0.6;
}

.contactForm button{
    width: 100%;
    border: none;
    border-radius: 0!important;
    padding: 12px;
}

.contactForm span{
    font-size: 12px;
    opacity: 0.6;
    width: 100%;
}

.form-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--color--white);
    padding: 15px 2.5%;
    border-radius: 50px;
}

.form-footer p {
    font-size: 14px;
    color: var(--color--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.form-footer div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
}

.form-footer a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-footer a img{
    width: 60px;
}

@media (max-width: 768px){

    .form{
        margin-top: 10vh;
    }


    .form-container{
        padding: 15% 5%;
    }
    
    .form-container img{
        width: 250px;
    }
    
    .contactForm{
        width: 100%;
        padding: 30px 20px;
    }

    .contactForm h1{
        font-size: 30px;
    }

    .contactForm label{
        font-size: 16px;
    }

    .contactForm label input::placeholder{
        font-size: 12px;
    }

    .form-footer{
        padding: 15px 5%;
    }

    .form-footer p:nth-child(1){
        display: none;
    }
    
    .form-footer p{
        font-size: 12px;
    }

    .form-footer a img{
        width: 50px;
    }

    .form-footer div img{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateX(0) translateY(-50%);
        width: 120px;
    }
}